@import url('https://fonts.googleapis.com/css2?family=Gafata&display=swap');

* {
  box-sizing: border-box;
  text-transform: capitalize;
}
/* html {
  scroll-behavior: smooth;
} */
â€ header {
  width: 100%;
  height: 100vh;
  /* background-image: url('../assets/HomeMain.jpg'); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* border-bottom-left-radius: 20% 0;
  border-bottom-right-radius: 20% 0; */
  /* blur(4px); */
  /* -webkit-filter: blur(4px); */
  /* filter: blur(5px); */
}
.header--img {
  width: 100%;
  height: 100vh;
}

header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

nav ul {
  display: flex;
  font-family: 'Gafata', sans-serif;
}
nav ul li {
  /* margin: 0 40px; */
  text-decoration: none;
  /* font-size: 14px; */
}
ul li a:hover {
  background: transparent;
  transition: 0.6s ease;
  transition-delay: 0.1s;
  border: 1px solid #02a95c;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:visited {
  text-decoration: none;
  color: #fff;
}
nav ul li a:visited:hover {
  color: #02a95c;
}
.hover-scrolled {
  color: #fff !important;
}
.hover-scrolled:hover {
  color: #02a95c !important;
}
.logo--blk {
  color: #fff;
}
.scrolled {
  background-color: #fff;
  /* box-shadow: 3px 3px 5px 6px #ccc; */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(2, 169, 92, 0.6);
  z-index: 10;
}
/* .scrolled-donate {
  background: #02a95c;
  color: #fff;
} */

.scrolled-donate a:hover {
  border: 1px solid #02a95c;
  color: #02a95c !important;
  background: transparent;
}
.initial {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  z-index: 10;
}
nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  width: 100%;
  transition: top 0.3s;
  z-index: 10;
}
nav div {
  display: flex;
  margin-left: 30px;
}

nav div h1 {
  font-size: 32px;
  margin-left: 15px;
  font-family: 'Gafata', sans-serif;
  font-weight: 600;
}
.logospan {
  /* margin-left: 10px; */
}
/* h1 span {
  color: #02a95c;
  font-size: ;
} */

.logo-scrolled {
  color: #02a95c;
}

.heading-scrolled {
  color: #02a95c;
}
.h1-scrolled {
  color: #333;
}

/* glass */
/* 

background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));

*/
.main--heading {
  font-size: 32px;
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  color: #333;
}
.glass {
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20px;
  z-index: 2;
  backdrop-filter: blur(4px);
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  position: relative;
  font-size: 23px;
}

.glass--container {
  /* position: absolute; */
  top: 0;
  left: 0;
}
.name {
  position: absolute;
  right: 11%;
  bottom: 30%;
}

.q {
  display: flex;
  align-items: center;
  height: inherit;
  position: relative;
}
.q div {
  width: 760px;
  margin: 0 auto;
}
.q button {
  position: absolute;
  bottom: 20%;
  left: 50%;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;

  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
.arrow__conatainer {
  width: 40px;
  height: 40px;

  border-radius: 100%;
  position: absolute;
  bottom: 3%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(2, 169, 92, 1);
}
.arrow__conatainer:hover {
  background-color: rgba(2, 169, 92, 1);
  transition: 0.6s ease-in-out;
  transition-delay: 0.1s;
}
.arrow__conatainer2 {
  width: 40px;
  height: 40px;
  background-color: rgba(2, 169, 92, 1);
  border-radius: 100%;
  position: absolute;
  bottom: 3%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow__conatainer2:hover {
  border: 2px solid rgba(2, 169, 92, 1);
  background: white;
  transition: ease-in-out 0.6s;
  transition-delay: 0.1s;
}
.arrow:hover {
  cursor: pointer;
  /* color: white !important; */
  color: #02a95c !important;
  /* z-index: 3; */
}

.fa-2x {
  color: #02a95c;
  font-size: 1em !important;
}

.grid-flex-item {
  display: flex;
  /* align-items: center; */
  margin-bottom: 15px;
}
.grid-flex-item h2 {
  margin-left: 15px;
}
.grid-flex-item i {
  color: #02a95c;
}
/* what we do section */

.do__description {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  color: #fff;
  background-color: #02a95c;
  position: relative;

  /* display: flex; */
}
.do__desc__container {
  display: flex;
  width: 860px;
  margin: auto;
}

.section1__details {
  margin-left: 60px;
  max-width: 50%;
  line-height: 1.5;
  margin-right: 15px;
}
.section1__details h2 {
  font-size: 42px;
  margin-bottom: 40px;
  font-weight: 600;
}
.section1__details p {
  font-size: 22px;
  width: 100%;
}
.section__img__container img {
  width: 300px;
  height: 400px;
}
.section__img__container {
  margin-left: 25px;
}
.items__hero__container {
  display: flex;
  width: 960px;
  margin: 0 auto;
}
.items__hero__container div {
  margin: 0 25px;
}

.goals__item1 {
  background-image: url('/assets/i.jpg');
  width: 220px;
  height: 330px;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  /* margin: 50px 50px; */
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%),
    0 8px 16px 0 rgb(17 22 26 / 8%);
  padding: 25px 25px;
}
.goals__item1:hover {
  transform: scale(1.05) translateZ(0);
  transition: 0.5s ease-in;
  transition-delay: 0.1s;
}

.goals__item1 h2 {
  font-size: 22px;
  font-weight: 600;
  color: darkgray;
  margin-bottom: 65px;
}
.goals__item1 p {
  font-size: 18px;

  color: black;
  /* margin-bottom: 50px; */
}

.goals__item2 {
  background-image: url('/assets/clothes.jpeg');
  width: 220px;
  height: 330px;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  /* margin: 50px 50px; */
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out;
  transition-delay: 0.1s;
  box-shadow: 0 0 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%),
    0 8px 16px 0 rgb(17 22 26 / 8%);
  padding: 25px 25px;
}
.goals__item2:hover {
  transform: scale(1.05) translateZ(0);
  transition: 0.5s ease-in;
  transition-delay: 0.1s;
}

.goals__item2 h2 {
  font-size: 22px;
  font-weight: 600;
  color: darkgray;
  margin-bottom: 65px;
}
.goals__item2 p {
  font-size: 18px;

  color: black;
  /* margin-bottom: 50px; */
}

.goals__item3 {
  background-image: url('/assets/amprella.jpeg');
  width: 220px;
  height: 330px;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  /* margin: 50px 50px; */
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%),
    0 8px 16px 0 rgb(17 22 26 / 8%);
  padding: 25px 25px;
}
.goals__item3:hover {
  transform: scale(1.05) translateZ(0);
  transition: 0.5s ease-in;
  transition-delay: 0.1s;
}

.goals__item3 h2 {
  font-size: 22px;
  font-weight: 600;
  color: darkgray;
  margin-bottom: 65px;
}
.goals__item3 p {
  font-size: 18px;

  color: black;
  /* margin-bottom: 50px; */
}

.goals__item4 {
  background-image: url('/assets/shelter.jpeg');
  width: 220px;
  height: 330px;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  /* margin: 50px 50px; */
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out;
  transition-delay: 0.1s;
  box-shadow: 0 0 8px 0 rgb(17 22 26 / 16%), 0 4px 8px 0 rgb(17 22 26 / 8%),
    0 8px 16px 0 rgb(17 22 26 / 8%);
  padding: 25px 25px;
}

.goals__item4:hover {
  transform: scale(1.05) translateZ(0);
  transition: 0.5s ease-in;
  transition-delay: 0.1s;
  /* transition: filter 200ms linear, transform 200ms linear; */
}

.goals__item4 h2 {
  font-size: 22px;
  font-weight: 600;
  color: darkgray;
  /* margin-bottom: 65px; */
}
.goals__item4 p {
  font-size: 18px;

  color: black;
  /* margin-bottom: 50px; */
}

.items__hero__container:hover > .goals__item1:not(:hover) .div {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

/* footer styles*/

fieldset {
  border: 1px solid black;
}

legend {
  padding: 0 15px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  padding: 45px 30px;
}
.parent h2 {
  font-size: 26px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}

.div1 {
  grid-area: 1 / 1 / 6 / 3;
}
.div2 {
  grid-area: 1 / 3 / 6 / 5;
  width: 81%;
  line-height: 1.5;
  font-size: 18px;
  position: relative;
}
.div2 h3 {
  position: absolute;
  bottom: 0;
}
.div3 {
  grid-area: 1 / 5 / 5 / 7;
}
.div3 button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 75px;
  height: 36px;
  border: 1px solid #02a95c;
  margin: 18px 0px;
  background-color: #fff;
  color: #333;
}
.div3 button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #037b44;
  transition: 0.6s ease;
  transition-delay: 0.1s;
}
/* .parent h2 {
  font-size: 22px;
  margin-bottom: 40px;
} */

/* .parent div i {
  margin-right: 10px;
  margin-bottom: 30px;
} */

#bottom__form {
  width: 100%;
}
#bottom__form input {
  display: block;
  width: 65%;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 15px;

  border: 1px solid transparent;
}
::placeholder {
  padding: 10px 0px;
  text-align: center;
}
.copyright {
  padding: 25px;
  text-align: center;
  background: #037b44;
}

/* for the new section */

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  height: 100vh;
  align-items: center;
  padding: 0px 30px;
} */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr;
  gap: 40px 40px;
  grid-template-areas:
    '1 2 3'
    '5 6 7';
  /* height: 100vh; */
  align-items: center;
  padding: 76px 75px;
}

/* .grid-container div div {
  margin: 2px 12px;
  height: inherit;
} */

.grid-div1 {
  grid-area: '1';
  display: flex;
  flex-direction: row-reverse;
}

.grid-div2 {
  grid-area: '2';
  display: flex;
  flex-direction: row-reverse;
}

.grid-div3 {
  grid-area: '3';
  display: flex;
  flex-direction: row-reverse;
}

.grid-div4 {
  grid-area: '4';
  display: flex;
  flex-direction: row-reverse;
}

.grid-div5 {
  grid-area: '5';
  display: flex;
  flex-direction: row-reverse;
}

.grid-div6 {
  grid-area: '6';
  display: flex;
  flex-direction: row-reverse;
}
.grid-container h2 {
  font-size: 22px;
  margin-bottom: 30px;
  /* text-align: center; */
}

/* .items__hero__container:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
} */

/* .goals__item2:not(:hover),
.goals__item3:not(:hover),
.goals__item4:not(:hover) {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
} */

/* NAV BUTTONS STYLE */
nav ul li a {
  /* border: 1px solid #02a95c;
  padding: 10px 10px;
  border-radius: 50%; */

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 85px;
  height: 50px;
  border: 1px solid #02a95c;
  margin: 0 15px;
  color: white;
  background-color: #02a95c;
}
.contact {
  border: none !important;
}

li button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 85px;
  height: 50px;
  border: 1px solid #02a95c;
  font-family: 'Gafata', sans-serif;
  font-size: 14 px;
  /* filter: blur(5px); */
  background: inherit;
  color: white;
}

/* slider */

.client-container {
  width: 760px;
  margin: 0px auto;
  height: calc(100% - 147px);
  /* display: flex; */
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.client-container img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 50px;
  animation: fade 1.75s ease;
  box-shadow: 2px 2px 20px 5px rgba(2, 169, 92, 0.4);
}
.golas__section {
  height: 100vh;
  width: 100%;
  padding: 50px 0px 0px 0px;
  position: relative;
  padding-bottom: 20px;
}
.arrow__conatainer3 {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  bottom: 3%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow__conatainer3 i {
  border: #333 !important;
}
/* .do__description:hover .arrow__conatainer3 {
  color: #02a95c;
} */

.what__container {
  width: 760px;
  margin: 0px auto;
  /* height: inherit; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.what__container h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 15px;
}
.what__container img {
  margin-bottom: 30px;
}

.client-container p {
  width: 724px;
  margin: 0px auto;
  animation: fade 1.5s ease;
  padding: 30px;
  font-size: 23px;

  position: relative;
}
.qoute-sign {
  color: #02a95c;
  margin: 0px 10px;
  font-size: 32px;
}

.qoute-owner {
  color: #969696;
  font-style: italic;
  font-weight: 300;
  text-align: end;
  position: absolute;
  right: 10%;
  bottom: 0;
}
.dots {
  /* background: gray; */
  text-align: center;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background: rgba(2, 169, 92, 0.4);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transition-delay: 0.1s;
}
.active {
  background-color: #02a95c;
}

.dots1 {
  /* background: gray; */
  text-align: center;
  position: absolute;
  top: 48%;
  left: 20%;
  display: flex;
  flex-direction: column;
}
.active1 {
  background: chartreuse;
  z-index: 1;
}
.dot1 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  /* background-color: rgba(2, 169, 92, 0.4); */
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transition-delay: 0.1s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

footer {
  background: #02a95c;
  color: white;
}
.social__links {
  margin-bottom: 50px;
}

.social__links i {
  margin: 0px 5px;
  color: #fff;
}
